@font-face {
    font-family: "Space Grotesk";
    src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  }

  @media (max-width: 420px) {
    .game-container {
      width: 420px;
    }

    .game-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 50px 20px;
    }

    .logo {
      width: 40px;
      height: 40px;
    }

    .game-button {
      width: 108px;
      height: 39px;
      background: #5C2DD5;
      border-radius: 20px;
      border: none;
      font-family: 'Space Grotesk';
      font-weight: 700;
      font-size: 16px;
      color: white;
    }

    .game-board {
      padding: 0 20px;
    }
  }