@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0
}

body {
  background: #7945FF;
}

@media (max-width: 420px) {
  .app-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}